<div class="voxel-hologram-code-block">
  <div class="voxel-hologram-code-block__example  voxel-hologram-code-block__example--html">
    <div class="voxel-hologram-code-block__example__container"></div>
      <%= rendered_example %>
    </div>
  </div>

  <div class="voxel-code-snippet  voxel-code-snippet--html  syntax">
    <pre><%= code_example %></pre>
  </div>
</div>
