<div class="voxel-hologram-code-block--table">
  <table>
    <tbody>
      <% examples.each do |example| %>
        <tr>
          <th>
            <div class="voxel-hologram-code-block__example  voxel-hologram-code-block__example--html">
              <%= example.rendered_example %>
            </div>
          </th>

          <td>
            <div class="voxel-code-snippet  voxel-code-snippet--html  syntax">
              <pre><%= example.code_example %></pre>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
