<div class="code-block">
  <div class="code-block__example  code-block__example--html">
    <%= rendered_example %>
  </div>
  <div class="code-snippet  code-snippet--html  syntax">
    <pre><%= code_example %></pre>
  </div>
</div>
