</div> <!-- /.voxel-hologram__content -->

<script><%= rendered_example %></script>

<div class="voxel-hologram-code-block">
  <div class="voxel-code-snippet  voxel-code-snippet--jsx  syntax">
    <pre><%= code_example %></pre>
  </div> <!-- /.voxel-code-snippet -->
</div> <!-- /.voxel-hologram-code-block -->

<div class="voxel-hologram__content">
