</div> <!-- /.voxel-hologram__content -->

<div class="voxel-hologram-code-block  voxel-hologram-code-block--table">
  <table>
    <tbody>
      <% examples.each do |example| %>
        <tr>
          <th>
            <div class="voxel-hologram-code-block__example  voxel-hologram-code-block__example--html">
              <div class="voxel-hologram-code-block__example__container">
                <%= example.rendered_example %>
              </div>
            </div>
          </th>

          <td>
            <div class="voxel-code-snippet  voxel-code-snippet--html  syntax">
              <pre><%= example.code_example %></pre>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div> <!-- /.voxel-hologram-code-block -->

<div class="voxel-hologram__content">
