          <hr>

          <footer>
            <p><small>Voxel Hologram. Handcrafted with &hearts;.</small></p>
          </footer>
        </div> <!-- /.voxel-hologram__content -->
      </div> <!-- /.voxel-layouts__content -->
    </div> <!-- /.voxel-layouts__page -->
  </main> <!-- /#voxel -->

  <script src="<%= @config['bower_components_dir'] %>/webfontloader/webfontloader.js"></script>
  <script>
    WebFont.load({
      google: {
        families: [
          "Carrois+Gothic::latin"
        ]
      }
    });
  </script>

  <!-- User scripts. -->
  <% @config['js_include'].each do |js| %>
    <script type="text/javascript" src="<%= js %>"></script>
  <% end %>
  <!-- /User scripts. -->
</body>
</html>
