          <hr>

          <footer>
            <p><small><a href="https://github.com/rishabhsrao/voxel-hologram">Voxel Hologram</a>. Handcrafted with &hearts;. Powered by <a href="https://github.com/rishabhsrao/voxel">Voxel</a>.</small></p>
          </footer>
        </div> <!-- /.voxel-hologram__content -->
      </div> <!-- /.voxel-layout__content -->
    </div> <!-- /.voxel-layout__page -->
  </main> <!-- /#voxel -->

  <!-- User scripts. -->
  <% @config['js_include'].each do |js| %>
    <script type="text/javascript" src="<%= js %>"></script>
  <% end %>
  <!-- /User scripts. -->
</body>
</html>
