<!doctype html>
<html id="voxel" class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>Voxel Hologram. Hand crafted with &hearts;.</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Voxel Hologram. Hand crafted with &hearts;.">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <!-- Voxel Hologram -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- /Voxel Hologram -->


  <!-- User stylesheets -->
  <% @config['css_include'].each do |css| %>
    <link rel="stylesheet" href="<%= css %>">
  <% end %>
  <!-- User stylesheets -->

  <script src="<%= @config['bower_components_dir'] %>/voxel/dist/scripts/libraries/modernizr.custom.js"></script>

  <!--
            ___
           / '_)   Voxel Hologram.
    .-^^^-/ /      Handcrafted with ♥.
 __/       /       github.com/rishabhsrao/voxel-hologram.
<__.|_|-|_|
  -->
</head>
<body>
  <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <main>
    <div class="voxel-hologram__content">
      <aside data-js="voxelDrawer" class="voxel-drawer">
        <header class="voxel-drawer__header">
          <a href="#" class="voxel-drawer__title">Voxel</a>
        </header>
        <div class="voxel-layouts__content">
          <% categoryTitles = Array.new %>
          <% @categories.each do |category| %>
            <% categoryTitleName = category[0].split(@config['name_scope']).first %>
            <% if not categoryTitles.include?(categoryTitleName) %>
              <% categoryTitles.push(categoryTitleName) %>
            <% end %>
          <% end %>

          <ol class="voxel-drawer__index  voxel-drawer__index--ordered">
            <% if file_name.include?("index.html") %>
              <li class="voxel-drawer__index__item  voxel-drawer__index__item--active">
                <a class="voxel-drawer__index__item__link" href="index.html">Home</a>
              </li>
            <% else %>
              <li class="voxel-drawer__index__item">
                <a class="voxel-drawer__index__item__link" href="index.html">Home</a>
              </li>
            <% end %>

            <% categoryTitles.each do |categoryTitle| %>
              <li class="voxel-drawer__index__item"><%= categoryTitle %>
                <ol class="voxel-drawer__index  voxel-drawer__index--ordered">
                  <% @categories.each do |category| %>
                    <% if category[0].include?(wrapper) %>
                      <% categoryName = category[0].split(@config['name_scope']).last %>
                      <% if categoryName == title.split(@config['name_scope']).last %>
                        <li class="voxel-drawer__index__item  voxel-drawer__index__item--active">
                          <a class="voxel-drawer__index__item__link" href="<%= category[1] %>"><%= categoryName %></a>
                        </li>
                      <% else %>
                        <li class="voxel-drawer__index__item">
                          <a class="voxel-drawer__index__item__link" href="<%= category[1] %>"<%= categoryName %></a>
                        </li>
                      <% end %>
                    <% end %>
                  <% end %>
                </ol>
              </li>
            <% end %>
          </ol> <!-- /.voxel-drawer__index -->
        </div> <!-- /.voxel-layouts__content -->
      </aside> <!-- /.voxel-drawer -->
    </div> <!-- /.voxel-hologram__content -->

    <div class="voxel-hologram__content">
      <header class="voxel-header">
        <a href="javascript:;" data-js="voxelDrawerToggle" class="voxel-drawer__toggle">&#8942;</a>
        <div class="voxel-layouts__content">
          <% if title.split(@config['name_scope']).last %>
            <a href="#" class="voxel-header__title"><%= title.split(@config['name_scope']).last %></a> <span class="voxel-header__subtitle"><%= @config['subtitle'] %></span>
          <% elsif file_name.include?("index.html") %>
            <a href="#" class="voxel-header__title">Voxel Hologram</a> <span class="voxel-header__subtitle">A Hologram theme.</span>
          <% end %>
        </div> <!-- /.voxel-layouts__content -->
      </header> <!-- /.voxel-header -->
    </div> <!-- /.voxel-hologram__content -->

    <div class="voxel-layouts__page" data-js="voxelDrawerPage">
      <div class="voxel-layouts__content">
        <div class="voxel-hologram__content">
          <% @blocks.each do |block| %>
            <a href="#<%= block[:name] %>"><%= block[:title] %></a>
          <% end %>
        </div> <!-- /.voxel-hologram__content -->

        <div class="voxel-hologram__content">
